POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_SERVER=server_address
POSTGRES_PORT=server_port
SECRET_KEY=your_jwt_gen_key
ALGORITHM=your_jwt_gen_algorithm
FIRST_SUPERUSER_PHONE=your_phone
FIRST_SUPERUSER_PASSWORD=your_password
AI_LAYER_URL=http://localhost:8001
VAPID_PRIVATE_KEY=your_private_key
VAPID_PUBLIC_KEY=your_public_key
VAPID_CLAIMS_EMAIL=mailto:your@example.com